.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 165px;
}
.logo-title{
    color: green;
    font-family: cursive;
    font-weight: bold;
    line-height: 12%;
    font-size: 50px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
   }
   .navbar button{
     background: transparent;
     font-size: 16px;
     color: #49557e;
     border: 1px solid green;
     padding: 10px 30px;
     border-radius: 30px;
     cursor: pointer;
     transition: 0.3s;
     color: green;
     background: white;
     font-weight: bold;
   }
   .navbar button:hover{
    background: green;
    color: white;
   }
   .navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid green;
   }
   .navbar ul{
    cursor: pointer;
    font-size: 24px;
   }
.navbar-search-icon .dot{
    position: relative;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 64%;
    top: -39px;
    right: -28px;
}



@media(max-width:900px){
    .navbar ul{
        font-size: 17px;
    }
    .navbar .logo{
        width: 100px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    } 
    .navbar-right button{
       padding: 7px 20px;
       font-size: 15px;
    }
}
@media(max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    } 
    .navbar-right button{
       padding: 8px 25px;
    }
}


@media(max-width:750px){

    .navbar-menu{
        display: none;    }

}