.header{
    height: 34vw;
    margin: 30px auto;
    background: url('pizza.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 5vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color: white;
    -webkit-text-stroke: 1px black;
}
.header-contents p{
    font-size: 1vw;
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}
.header-contents button{
    border: none;
    color: green;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    border-radius: 50px;
}
.header-contents button:hover{
    background-color: green;
    color: white;
}
@media (max-width:1050px){
    .header-contents{
        max-width: 45%;
    }

}

@media (max-width:750px){
    .header-contents{
        max-width: 55%;
    }
    .header-contents h2 {
        font-weight: 500;
        /* font-size: max(7.5vw,24px); */
        color: white;
        -webkit-text-stroke: 1px white;
        font-size: 19px;
      }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}
